# editor stuff
.idea
.idea/dataSources.xml
tags
*.sublime-workspace
*.sublime-project
.project

# OS stuff
.DS_Store
tmp/**

# CI stuff
.yardoc
.yardoc/**
coverage/**
doc/**

# Other
.rspec_status

pkg
